.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(94, 94, 94);
    width: 100%;
    height: 100%;
    position: fixed;
}

.infobox {
    background-color: rgb(249, 134, 134);
    margin: 20px;
    padding: 10px;
    display: flex;
    width: 30%;
    justify-content: center;
}

.mapContainer {
    background-color: rgb(134, 234, 249);
    margin: 20px;
    padding: 10px;
    width: 70%;
}

.map {
    height: 55vh;
    width: 66vw;
    border: inset;
    margin-top: 25%;
}

.mapFloor{
    border-bottom: 50vh solid red;
    border-left: 10.5vw solid transparent;
    border-right: 11vw solid transparent;
    height: 0;
    justify-content: center;
    
}

.background {
    background-image: url("images/background.png");
    position: absolute;
    margin-left: 45vw; 
    margin-top: 45vh;
    height: 70vh;
    width: 50vw;
    object-fit: fill;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.background button {
    height: 3vh;
    width: 3vw;
    position: absolute;
}

.background .btn1 {
    margin-left: 9.5vw; 
    margin-top: 15.4vw; 
}

.background .btnD {
    margin-left: 20vw; 
    margin-top: 15.4vw; 
}

.background .btnMid {
    margin-left: 23.5vw; 
    margin-top: 15.4vw; 
}

.background .btnB {
    margin-left: 27.5vw; 
    margin-top: 15.4vw; 
}

.background .btn2 {
    margin-left: 38vw; 
    margin-top: 15.4vw; 
}

.background .btnC {
    margin-left: 23.5vw; 
    margin-top: 19.4vw; 
}

.background .btnA {
    margin-left: 23.5vw; 
    margin-top: 11.4vw; 
}

.background .btnNorth {
    margin-left: 23.5vw; 
    margin-top: 3.4vw; 
}

.background .btnSouth {
    margin-left: 23.5vw; 
    margin-top: 28.4vw; 
}